label{
  display: block;
  width: 150px;
  float: left;
}

div#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

div#inForm {
  padding: 10px 30px;
  border: solid;
  border-color: #bbbbbb;
  background-color: #5e5d5d;
  border-radius: 15px;
}

input#button {
  width: 120px;
}