<div id="form" >
  <form [formGroup]="form" (dblclick)="autoComplete()" (ngSubmit)="loginProcess()">
    <div id="inForm">
      <div class="text-center">
        <h3>Connexion</h3>
      </div>
      <br>
      <p>
        <label class="color-font">
          Pseudo :
        </label>
        <input type="text" formControlName="pseudo">
      </p>
      <p>
        <label class="color-font">
          Mot de passe :
        </label>
        <input type="password" formControlName="password">
      </p>
      <br>
      <div class="text-center">
        <input class="btn-default-custom" type="submit" value="Se connecter" id="button">
      </div>
      <br><br>
      <div class="text-center">
        Si vous n'avez pas de compte,
        <a routerLink="/inscription">inscrivez-vous</a>
      </div>
    </div>
  </form>
  
</div>





