<div id="form" >
  <form [formGroup]="form" (dblclick)="autoComplete()" (ngSubmit)="loginProcess()">
    <div id="inForm">
    <p>
      <label>
        Pseudo :
      </label>
      <input type="text" formControlName="pseudo">
    </p>
    <p>
      <label>
        Mot de passe :
      </label>
      <input type="password" formControlName="password">
    </p>
      <input type="submit" value="Se connecter" id="button">
  </div>
  </form>
  <div>
    Si vous n'avez pas de compte,
    <a routerLink="/inscription">Inscrivez-vous</a>
  </div>
</div>





