label
{
  display: flex;
  margin-top: 10px;
  margin-left: 25%;
  padding: 30px;
  width:50%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #b0b0b0;
  color: #e9f4fb;
  font-size: 20px;
}

input[type=text]
{
  margin-left: 1%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:80%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

input[type=submit]
{
  margin-left: 1%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:15%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  background-color: #8a8a8a;
  color: white;
  font-size: 70%;
}

input[type=submit]:hover{
  background-color: #50b6ff;
}


