div#empty
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#dateUser
{
  margin-left: 90%;
  margin-top: 0%;
  font-size: 15px;
  width: 50%;
}

div#dateOther
{
  margin-left: 30%;
  font-size: 15px;
}

div#idUser
{
  margin-left: 90%;
  font-size: 15px;
}

div#idOther
{
  margin-left: 30%;
  font-size: 15px;
}

div#textUser
{
  font-size: 25px;
  border: solid #50b6ff;
  border-radius: 10px;
  background-color: #50b6ff;
  color: #e9f4fb;
  width: 50%;
  margin-left: 90%;
}

div#textOther
{
  font-size: 25px;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #b9b5b5;
  color: #e9f4fb;
  width: 50%;
  margin-left: 30%;
}


