<div id="form">
  <form [formGroup]="form" (dblclick)="autoComplete()" (ngSubmit)="emitActivityCreation()">
    <div id="inForm">
      <h3 class="title text-center">Ajouter une activité :</h3>
      
      <span *ngIf="getName().touched && getName().invalid else not_error" class="error-message">
        Ce champ est incorrect!
      </span>   
      
      <br>
      
      <label>Nom* :</label> <input type="text" formControlName="name">
      
      <br>

      
      <span *ngIf="getPlace().touched && getPlace().invalid" class="error-message">
        Ce champ est incorrect!
      </span>

      <br>

      <label>Lieu* : </label><input type="text" formControlName="place">
      
      <br><br>

      <label>Latitude : </label><input type="number" formControlName="lattitude">
      
      <br><br>

      <label>Longitude : </label><input type="number" formControlName="longitude">
      
      <br>

      <span *ngIf="getDate().touched && getDate().invalid" class="error-message">
        Ce champ est incorrect!
      </span>
      
      <br>

      <label>Date et heure* : </label><input type="datetime-local" formControlName="date">
      
      <br><br>

      <label>Sport* : </label>
      <select formControlName="sport">
        <option *ngFor="let sport of sports">{{sport.name}}</option>
      </select>
      
      <br><br>

      <label>Tournoi* ? : </label><input type="checkbox" formControlName="isTournament"><br>

      <br>
      
      <div class="text-center">
        <input class="btn-default-custom" type="submit" [disabled]="form.invalid" value="Ajouter" id="button">
      </div>
      <span id="definition-asterisk">*Obligatoires</span>
    </div>
  </form>
</div>

<ng-template #not_error>
  <span></span>
</ng-template>