label{
  display: block;
  width: 100px;
  float: left;
}

div#form {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

div#inForm {
  padding: 5%;
  padding-bottom: 2%;
  border: solid;
  border-color: #bbbbbb;
  border-radius: 15px;
  background-color: #5e5d5d;
}

#definition-asterisk{
  font-size: 12px;
}

.title {
  font-size: 20px;
}

.error-message{
  color: rgb(250, 60, 60);
  font-size: 12px;
  margin-left: 25%;
}