#container{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 3px;
  border-radius: 20px;
}
agm-map{
  display: block;
  justify-content: initial;
  align-items: center;
  height:800px ;
  min-width: 60%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: center;
}
#activity{
  border: #111111 2px;
  margin: 3px;
  padding: 2px;
}
app-activity-list{
  width: 40%;
  margin-right: 20px;
  margin-top: 40px;
  align-self: flex-start;
}

