<div id="form">
  <form [formGroup]="form" (dblclick)="autoComplete()" (ngSubmit)="sendUser($event)">
    <div id="inForm">
      <div class="text-center">
        <h3>Inscription</h3>
      </div>

      <br>

      <label> Pseudo : </label><input type="text" formControlName="pseudo"><br>

      <div *ngIf="getName().touched && getName().invalid">
        Le champ "Pseudo" est incorrect!
      </div>
      <br>

      <label> Nom : </label><input type="text" formControlName="lastName"><br>

      <div *ngIf="getName().touched && getName().invalid">
        Le champ "Nom" est incorrect!
      </div>
      <br>

      <label>Prénom : </label><input type="text" formControlName="firstName"><br>

      <div *ngIf="getFirstName().touched && getFirstName().invalid">
        Le champ "Prénom" est incorrect!
      </div>
      <br>

      <label>Email : </label><input type="email" formControlName="mail"><br>

      <div *ngIf="getMail().touched && getMail().invalid">
        Le champ "Email" est incorrect!
      </div>
      <br>
      <div>
        <label> Choix du sexe ? </label>

        Homme
        <input type="radio" formControlName="sexe"
               value="Homme">


        Femme
        <input type="radio" formControlName="sexe"
               value="Femme">


        Non binaire
        <input type="radio" formControlName="sexe"
               value="non-Binaire">

      </div>
      <br>

      <label>Date d'anniversaire :</label>
      <input type="date" formControlName="birthDate" ><br><br>

      <label>Mot de passe</label><input type="password" formControlName="password"><br>

      <div *ngIf="getPassword().touched && getPassword().invalid">
        Le champ "Mot de passe" est incorrect! Entre 8 et 20 caractères
      </div>
      <br>
      <input class="btn-default-custom" type="submit" [disabled]="form.invalid" value="S'inscrire" id="button">
      <br><br>
      <div class="text-center">
        Si vous avez un compte,
        <a routerLink="/connexion">connectez-vous</a>
      </div>
    </div>
  </form>
</div>
