label
{
  display: block;
  width: 150px;
  float: left;
}
div#form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

div#inForm {
  padding: 10px 30px;
  border: solid;
  border-color: #bbbbbb;
  border-radius: 15px;
  background-color: #5e5d5d;
}

input#button {
  width: 100%;
}

