<form [formGroup]="form" (dblclick)="autoComplete()">

  Name  : <input type="text" formControlName="name"><br>

  <div *ngIf="getName().touched && getName().invalid">
    The "name" field is incorrect!
  </div><br>

  First Name : <input type="text" formControlName="firstName"><br>

  <div *ngIf="getFirstName().touched && getFirstName().invalid">
    The "first name" field is incorrect!
  </div><br>

  Email : <input type="email" formControlName="mail"><br>

  <div *ngIf="getMail().touched && getMail().invalid">
    The "mail" field is incorrect!
  </div><br>
  <div>
    Choice of sex ?<br>
    <label>
      Man
      <input type="radio" formControlName="sexe"
             value = "Homme" >
    </label>
    <label>
      Woman
      <input type="radio" formControlName="sexe"
             value = "Femme" >
    </label>
    <label>
      No Binary
      <input type="radio" formControlName="sexe"
             value = "non-Binaire" >
    </label>
  </div><br>

    Password : <input type="password" formControlName="password"><br>

  <div *ngIf="getPassword().touched && getPassword().invalid">
    The "password" field is incorrect!
  </div><br>
  <input type="submit" [disabled]="form.invalid">
</form>
