<div id="form">
  <form [formGroup]="form" (dblclick)="autoComplete()">
    <div id="inForm">
      <label>Name  :</label> <input type="text" formControlName="name"><br>

      <div *ngIf="getName().touched && getName().invalid">
        The "name" field is incorrect!
      </div><br>

      <label>Place : </label><input type="text" formControlName="place"><br>

      <div *ngIf="getPlace().touched && getPlace().invalid">
        The "Place" field is incorrect!
      </div><br>

      <label>Date et heure : </label><input type="datetime-local" formControlName="date"><br>

      <div *ngIf="getDate().touched && getDate().invalid">
        The "Date" field is incorrect!
      </div><br>

      <label>Choisissez le sport : </label><select formControlName="sport">
        <option> Football </option>
        <option> Volleybal </option>
        <option> Running </option>
    </select><br>

      <div *ngIf="getSport().touched && getSport().invalid">
        The "Sport" field is incorrect!
      </div><br>

      <input type="submit" [disabled]="form.invalid" value="Ajouter" id="button">
    </div>
  </form>
</div>




