<div id="form">
  <form [formGroup]="form" (dblclick)="autoComplete()">
    <div id="inForm">
      <label>Name  :</label> <input type="text" formControlName="name"><br>

      <div *ngIf="getName().touched && getName().invalid">
        The "name" field is incorrect!
      </div><br>

      <label>Place : </label><input type="text" formControlName="place"><br>

      <div *ngIf="getPlace().touched && getPlace().invalid">
        The "Place" field is incorrect!
      </div><br>


      <input type="submit" [disabled]="form.invalid" value="Ajouter" id="button">
    </div>
  </form>
</div>

<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="10">
  <agm-marker [longitude]="longitude" [latitude]="latitude"></agm-marker>
  <agm-marker [longitude]="longitude2" [latitude]="latitude2"></agm-marker>
</agm-map>

