li:last-child {
  border-right: none;
}

.sous{
  display: none;
  float: revert;
  width: 250%;
}
nav > ul li:hover .sous{
  display: inline-block;
}

nav {
  background-color: #292929 !important;
}

a {
  color: #fff !important;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}