<nav>
  <ul>
    <li><a routerLink="activity">Activités</a></li>
    <li><a routerLink="post">Posts</a></li>
    <li><a routerLink="chat">Messages</a></li>
    <li><a>Compte</a>
      <ul class="sous">
        <li><a routerLink="inscription">Inscription</a></li>
        <li><a routerLink="connexion" [hidden]="isLoggedIn">Connexion</a></li>
        <li><a (click)="logout()" [hidden]="!isLoggedIn">Déconnexion</a></li>
      </ul>
    </li>
    <li><a href="#">A propos</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>









