body{
  background-color: dimgrey;
}
li:last-child {
  border-right: none;
}


/* Change the link color to #111 (black) on hover */



.sous{
  display: none;
  float: revert;
 width: 250%;
}
nav > ul li:hover .sous{
  display: inline-block;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}