body {
  font-family: cursive;
  font-size: 30px;

}
p{
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
#conclusion{
  font-size: 12px;
}
.image{
  min-width: 400px;
  min-height: 267px;
}
#imagebasket{
  background-image: url("images/basket.jpg");
}
#imagefoot{
  background-image: url("images/foot.jpg");
}
#imagerugby{
  background-image: url("images/rugby.jpg");
}
#imagevolley{
  background-image: url("images/volley.jpg");
}
#imagebadminton{
  background-image: url("images/badminton.jpg");
}
#imagerunning{
  background-image: url("images/running.jpg");
}
#imagecyclisme{
  background-image: url("images/cyclisme.jpg");
}
