<body>
  <div>
    <p class="text-center" id="introduction">
      Bienvenue sur SportMap, ce site te permet de trouver l'activité de sport qui te convient près de chez toi!
    </p>
  </div>
  <div class="container">
    <div>
      <div class="image" id="imagebasket"></div>
      <div class="image" id="imagefoot"></div>
    </div>
    <div>
      <div class="image" id="imagerugby"></div>
      <div class="image" id="imagerunning"></div>
    </div>
    <div>
      <div class="image" id="imagebadminton"></div>
      <div class="image" id="imagecyclisme"></div>
    </div>
  </div>
  <footer class="footer">
    <p id="conclusion" class="text-center">
      Ce site a été développé par <a href="https://www.linkedin.com/in/justin-lievens-bb7046219/" target="_blank">Justin Lievens</a>,
       <a href="https://www.linkedin.com/in/adrien-sti%C3%A9venart-105361211/" target="_blank">Adrien Stiévenart</a> &
       <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-vandeputte-724502204/" target="_blank">Jérémy Vandeputte</a> comme projet pour le cours de "Technologies Internet"
      présenté par Monsieur Orlando Palermo à la 
      <a href="https://www.helha.be/etude/economique/informatique-de-gestion/mons/bachelier-en-informatique/" target="_blank">HELHa de Mons en Informatique de Gestion</a>
       en 2021-2022.     
    </p>
  </footer>
</body>
