body {
  font-family: cursive;
  font-size: 25px;
}
p{
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
#introduction{
  font-size: 20px;
}
#conclusion{
  font-size: 12px;
}
.image{
  min-width: 400px;
  min-height: 267px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#imagebasket{
  background-image: url("images/basket.jpg");
}
#imagefoot{
  background-image: url("images/foot.jpg");
}
#imagerugby{
  background-image: url("images/rugby.jpg");
}
#imagevolley{
  background-image: url("images/volley.jpg");
}
#imagebadminton{
  background-image: url("images/badminton.jpg");
}
#imagerunning{
  background-image: url("images/running.jpg");
}
#imagecyclisme{
  background-image: url("images/cyclisme.jpg");
}

.container {
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}