<body>
  <br>
  <div>
    <p id="intro">
      Bienvenue sur SportMap, ce site te permet de trouver l'activité de sport qui te convient près de chez toi!
    </p>
  </div>
  <div class="container">
    <table>
      <tbody>
      <tr>
        <td><div class="image" id="imagebasket"></div></td>
        <td><div class="image" id="imagefoot"></div></td>
        <td> <div class="image" id="imagerugby"></div></td>
      </tr>
      <tr>
        <td><div class="image" id="imagerunning"></div></td>
        <td><div class="image" id="imagebadminton"></div></td>
        <td><div class="image" id="imagecyclisme"></div></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
