<body>
  <div>
    <p class="text-center" id="introduction">
      Bienvenue sur SportMap, ce site te permet de trouver l'activité de sport qui te convient près de chez toi!
    </p>
  </div>
  <div class="container">
    <table>
      <tbody>
      <tr>
        <td><div class="image" id="imagebasket"></div></td>
        <td><div class="image" id="imagefoot"></div></td>
        <td> <div class="image" id="imagerugby"></div></td>
      </tr>
      <tr>
        <td><div class="image" id="imagerunning"></div></td>
        <td><div class="image" id="imagebadminton"></div></td>
        <td><div class="image" id="imagecyclisme"></div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p id="conclusion">
      Ce site a été développé par <a href="https://www.linkedin.com/in/justin-lievens-bb7046219/" target="_blank">Justin Lievens</a>,
       <a href="https://www.linkedin.com/in/adrien-sti%C3%A9venart-105361211/" target="_blank">Adrien Stiévenart</a> &
       <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-vandeputte-724502204/" target="_blank">Jérémy Vandeputte</a> comme projet pour le cours de "Technologies Internet"
      présenté par Monsieur Orlando Palermo à la 
      <a href="https://www.helha.be/etude/economique/informatique-de-gestion/mons/bachelier-en-informatique/" target="_blank">HELHa de Mons en Informatique de Gestion</a>
       en 2021-2022.     
    </p>
  </div>
</body>
