div#post
{
  margin-top: 20px;
  margin-left: 25%;
  padding: 30px;
  width:50%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #b0b0b0;
  color: #e9f4fb;
}

div#comment
{
  margin-top: 5px;
  margin-left: 25%;
  padding: 10px;
  width:50%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #918585;
  color: #e9f4fb;
}

div#addComment
{
  margin-top: 5px;
  margin-left: 25%;
  padding: 10px;
  width:50%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #d5d5d5;
  color: #e9f4fb;
}
input[type=text]
{
  margin-left: 2%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:75%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

div#date
{
  font-size: 18px;
}

span#user
{
  font-size: 40px;
  font-weight: bold;
}

div#text
{
  font-size: 40px;
}

input[type=submit]
{
  padding:5px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  background-color: #8a8a8a;
  color: white;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover
{
 background-color: #7be5ff;
}

input#delete
{
  background-color: #a6a6a6;
}

input#delete:hover
{
  background-color: #7be5ff;
}
