#list{
  width: 50%;
}
.container-custom{
  display: flex;
  justify-content: center;
  width: 100%;
}
div#post{
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div#comment{
  padding: 10px;
  background-color: #bbbbbb;
}

div#addComment{
  padding: 10px;
}

input[type=text]{
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
}

.user{
  font-size: 16px;
  font-weight: bold;
}

input[type=submit]{
  cursor: pointer;
  float: right;
}

.delete{
  width: 50px;
}