<div id="container">
<div *ngIf="discussions.length === 0" id="empty">
  <b>Il n'y a pas de discussions :-/</b>
</div>
<div id ="id" *ngIf="discussions.length>0">
  <table class="tabDiscussions">
    <thead>
    <tr>
      <th>Discussions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let discussion of discussions; let i=index;">
      <td (click)="show(discussion)">{{discussion.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
<app-chat-message [messages]="messages"></app-chat-message>
</div>
