#container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabDiscussions{
  color: #ffffff;
  border-collapse: collapse;
  box-shadow: 0 5px 50px rgba(0,0,0,0.15);
  cursor: pointer;
  border: 2px solid #000000;
  font-size: 18px;
  margin-left: 20%;
  margin-top: 10%;
  display: block;
  justify-content: initial;
  align-items: center;
  min-width: 100%;
}
thead tr{
  background-color: #333333;
  text-align: left;
}
th, td{
  padding: 6px 80px;
}
tbody tr, td{
  border-bottom: 1px solid #5e5d5d;
  color: #111111;
}

th{
  border: 1px solid #5e5d5d;
  color: #e9f4fb;
}

tbody:hover tr:hover, td:hover{
  background-color: #c2c2c2;
  transform: scale(1.01, 1.01);
}

div#empty
{
  margin: 10%;
}

app-chat-message {
  margin-right: 10%;
  margin-top: 5%;
  align-self: flex-start;
}

label
{
  display: flex;
  margin-top: 20px;
  margin-left: 45%;
  padding: 30px;
  width: 280%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #5e5d5d;
  color: #e9f4fb;
  font-size: 20px;
}

input[type=text]
{
  margin-left: 1%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  min-width: 80%;
}


input[type=submit]
{
  margin-left: 1%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:15%;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  background-color: #8a8a8a;
  color: white;
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
}


