#container{
  width: 100%;
  display: flex;
}
#discussion-panel {
  padding: 2%;
  width: 40%;
}
.tabDiscussions{
  border-collapse: collapse;
  cursor: pointer;
}
th, td{
  padding: 5px;
}

div#empty{
  margin: 10%;
}

table{
  width: 100%;
}

input#newMessage{
  margin-left: 1%;
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:10px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
}

input[type=submit]{
  min-width: 80px;
  font-size: 14px;
}

input[type=submit]#addDiscussion
{
  min-width: 225px;
}
#newDiscussion{
  margin: 2%;
  padding: 2%;
  border: solid #bbbbbb;
  border-radius: 10px;
  background-color: #5e5d5d;
  display: flex;
  justify-content: center;
  width: 60%;
}
#chat {
  width: 60%;
  padding: 2%;
}
#title{
  font-weight: bold;
  font-size: 18px;
}
#buttonNewDisussion{
  width: 200px;
}
#add-user {
  width: 50px;
}
.footer {
  position: absolute;
  bottom: 2%;
  width: 56%;
}