
<div *ngIf="activities.length===0">
  <b>Aucune activité n'est disponible</b>
</div>
<div *ngIf="activities.length>0">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Sport</th>
      <th>Date</th>
      <th>Adresse</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let activity of activities">
      <td>{{activity.id}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.sport}}</td>
      <td>{{activity.date}}</td>
    </tr>
    </tbody>
  </table>
</div>
