
<div *ngIf="activities.length===0">
  <b>Aucune activité n'est disponible</b>
</div>
<div *ngIf="activities.length>0">
  <table class="tabActivities">
    <thead>
    <tr>
      <th class="col-md-2">Nom</th>
      <th class="col-md-2">Sport</th>
      <th class="col-md-3">Date</th>
      <th class="col-md-3">Adresse</th>
      <th class="col-md-1">Tournoi</th>
      <th class="col-md-1">Participation</th>
      <th *ngIf="is_admin()">Supprimer</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let activity of activities;let i =index;">
      <td>{{activity.name}}</td>
      <td>{{activity.nameSport}}</td>
      <td>{{activity.date}}</td>
      <td>{{activity.lieu}}</td>
      <td>
        <span *ngIf="activity.isTournament else not_tournament"><i class="fa-solid fa-check center-elements"></i></span>
        <ng-template #not_tournament><i class="fa-solid fa-xmark center-elements"></i></ng-template>
      </td>
      <td>
        <span *ngIf="participate(activity) else not_participate">
          <i class="fa-solid fa-user-check center-elements"></i>
        </span>
        <ng-template #not_participate>
          <div class="center-elements">
            <input type="button" value="Participer" (click)="to_participate(activity)">
          </div>
        </ng-template>        
      </td>
      <td *ngIf="is_admin()">
        <div class="center-elements">
          <button (click)="deleteActivity(activity,i)"><i class="fa-solid fa-trash"></i></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
