
<div *ngIf="activities.length===0">
  <b>Aucune activité n'est disponible</b>
</div>
<div *ngIf="activities.length>0">
  <table class="tabActivities">
    <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Sport</th>
      <th>Date</th>
      <th>Adresse</th>
      <th>Tournoi</th>
      <th>Participation</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let activity of activities;">
      <td>{{activity.id}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.nameSport}}</td>
      <td>{{activity.date}}</td>
      <td>{{activity.lieu}}</td>
      <td><input type="checkbox" [(ngModel)]="activity.isTournament" disabled></td>
      <td>
        <span *ngIf="booleanParticipationC()"></span>

        <span *ngFor="let participation of this.participations;">

          <span *ngIf="booleanParticipation===false">

            <span *ngIf="booleanParticipationChange(participation, activity)">
              <span>OUI</span>
            </span>

          </span>

        </span>

        <span *ngIf="booleanParticipation===false">
              <input type="button" value="Participer" (click)="participate(activity)">
        </span>
      </td>
    </tr>

    </tbody>
  </table>
</div>
