.tabActivities{
  border-collapse: collapse;
  box-shadow: 0 5px 50px rgba(0,0,0,0.15);
  border: 2px solid #000000;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 97%;
}
thead tr{
  background-color: #494848;
  text-align: left;
}
tbody tr, td{
  border: 1px solid #545353;
  background-color: #5e5d5d;
}

th{
  border: 1px solid #545353;
}

tbody tr:hover {
  transform: scale(1.01, 1.01);
}

.center-elements{
  display: flex;
  justify-content: center;
}